.toast-list-container {
  @apply flex flex-col justify-start items-end fixed top-2 right-4 max-h-full;
  z-index: 99999;
}

.toast-list-container > .toast-wrapper {
  @apply flex flex-col justify-start items-start relative left-full invisible text-base cursor-pointer shadow-lg rounded bg-white mt-6 py-2 px-4;
  min-width: 6em;
  left: calc(100% + 32px);
  transition: all 0.4s ease;
}

.toast-list-container > .toast-wrapper.showup {
  @apply left-0 visible;
}

.toast-list-container > .toast-wrapper.destory {
  @apply invisible;
  left: calc(100% + 32px);
}
